.bg-violet {
    background-color: violet;
}

.logo-img {
    width: 35px;
}

.form-check-input:checked {
    background-color: #fd0dfd;
    border-color: #890d89;
}

.form-check-input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(235, 96, 65, 0.25);
}